.header__links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 18px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header__links {
    padding-top: 10px;
    align-items: center;
  }
}
