.intro__list {
  color: var(--font-color);
  font-family: 'Inter', 'Georgia', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .intro__list {
    min-width: 288px;
  }
}
