.header {
  padding-top: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  width: 92.5%;
}

@media (max-width: 1279px) {
  .header {
    width: 90.5%;
  }
}

@media (max-width: 1023px) {
  .header {
    max-width: 928px;
    width: 93.5%;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 720px;
    min-width: 288px;
    width: 90%;
    padding-top: 16px;
  }
}
