.link {
  color: var(--font-color);
  font-family: 'Inter', 'Georgia', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.15s linear;
}

.link:hover {
  opacity: 0.8;
}


