.footer__links {
  margin: 0;
  padding: 0;
  min-height: 18px;
  max-width: 465px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 18px;
}

@media (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
  }
}
