.footer__copyright {
  min-width: 186px;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: 'Inter', 'Georgia', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

@media (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
  }
}
