.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 92px;
}

@media (max-width: 1279px) {
  .intro {
    min-width: 928px;
    width: 90.626%;
  }
}

@media (max-width: 1023px) {
  .intro {
    padding: 0 0 88px;
    max-width: 928px;
    min-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding: 0 0 64px;
    min-width: 288px;
    max-width: 720px;
    width: 90%;
  }
}
