.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 984px;
  box-sizing: border-box;
  padding: 0 0 92px;
}

@media (max-width: 1279px) {
  .intro {
    min-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    min-width: 720px;
    padding: 0 0 88px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding: 0 0 64px;
    min-width: 288px;
    max-width: 720px;
  }
}
