.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1184px;
  max-height: 52px;
}

@media (max-width: 1279px) {
  .header__content {
    min-width: 928px;
  }
}

@media (max-width: 1023px) {
  .header__content {
    min-width: 720px;
  }
}

@media (max-width: 767px) {
  .header__content {
    min-width: 288px;
  }
}
