.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  margin: 92px 0 24px;
  max-width: 1184px;
  width: 92.5%;
}

@media (max-width: 1279px) {
  .footer {
    width: 90.5%;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 928px;
    width: 93.5%;
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-top: 64px;
    max-width: 720px;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

