/* от 1280px */
.photo-grid__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  justify-content: center;
  min-width: 1184px;
  gap: 16px;
  min-height: 671px;
}

@media (max-width: 1279px) {
  .photo-grid__content {
    gap: 14px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    max-width: 1184px;
    min-width: 928px;
  }
}

@media (max-width: 1023px) {
  .photo-grid__content {
    grid-template-columns: 352px 352px;
    grid-template-rows: 264px;
    max-width: 928px;
    min-width: 720px;
  }
}

@media (max-width: 767px) {
  .photo-grid__content {
    grid-template-columns: 288px;
    grid-template-rows: 216px;
    gap: 12px;
    max-width: 720px;
    min-width: 288px;
  }
}


