.place__website {
  margin: 0;
  align-self: end;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .place__website {
    justify-self: center;
    max-width: 288px;
    min-width: 288px;
  }
}
