.place__website {
  max-width: 456px;
  margin: 0;
  align-self: end;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .place__website {
    justify-self: start;
    padding-left: 16px;
  }
}

@media (max-width: 319px) {
  .place__website {
    padding: 0;
  }
}
